.reportData{
    display: flex;
}

.data{    
    display: flex;
    margin-left: 30px;
}

.companyName{
    width: 170px;
}

.candidateName{
    width: 120px;
}

.status{
    width: 60px;
}

.icon{
    width: 20px;
   margin-top: 4px;
}

ul:nth-child(even) {background-color:rgb(211, 222, 233);}