.table {
    width: 70%;
}

.table, td, th{
    border: 1px solid #3562aa;  
    margin: auto;
    border-collapse: collapse;
}

td, th { 
    padding: 10px;
}

td i:hover {
    cursor: pointer;
}

td:nth-child(4) {
    text-align: center;
}

.rowBlue{
    background: #1A2D48;
    color: white;
}

